@import "@/ui/main.css";
/* biome-ignore lint/suspicious/noUnknownAtRules: <tailwindcss syntax> */
@source "./**/*.tsx";

:root {
	--safe-bottom: env(safe-area-inset-bottom);
	--safe-top: env(safe-area-inset-top);
}

* {
	@apply select-none;
}
