@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-black: #171717;
	--color-yellow: #ffca67;
	--color-lightgray: #dedede;
	--color-darkgray: #292929;

	--font-sans:
		"Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif;
	--font-serif: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
}

/* Keyframe animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.9);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(5rem) scale(0.95);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: 0;
		transform: translateY(5rem) scale(0.95);
	}
}

@keyframes slideUpFromBottom {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideDownToBottom {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(100%);
	}
}

body {
	color: var(--color-lightgray);
	background-color: var(--color-darkgray);
}

* {
	@apply border-darkgray/50 divide-lightgray/50;

	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

:root {
	--safe-bottom: env(safe-area-inset-bottom);
	--safe-top: env(safe-area-inset-top);
}

* {
	@apply select-none;
}
